<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>
  <main class="main">
    <div>
      <p><label>You acquired the following access token:</label></p>
      <textarea id="textToken" rows="10" cols="100" wrap="soft"><%= token %></textarea>
      <p></p>
      <button type="button" onclick="myFunction()">Copy to clipboard</button>
      <script>
        function myFunction() {
          document.getElementById("textToken").select()
          document.execCommand('copy')
        }
      </script>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>