<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>