<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container-fluid">
    <header>
      <% include ../partials/header %>
    </header>

    <main class="main">
        Please use one of the action on the top. 
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
