<!-- views/partials/header.ejs -->

<head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <span class="navbar-brand mb-0 h1">Finastra Node.js Client Credentials Code Sample</span> 
  </nav>
</head>

<h6>
  <nav class="navbar navbar-expand-lg navbar-light">   
<% if(strong){ %>
  JSON Web Key Authentication
<% } else{ %>  
 Secret Key Authentication
<% } %>
 </nav>
</h6>

<div class="btn-toolbar" role="toolbar">

  <form action="/login">
    <button type="submit" class="btn btn-primary">Acquire Access Token</button>
  </form>

  <form action="/results">
    <button type="submit" class="btn btn-primary">Get Data</button>
  </form>

  <form action="/logout">
    <button type="submit" class="btn btn-danger">Remove Access Token</button>
  </form>

</div>

<hr>